node_modules
dist
.DS_Store
yarn-error.log
yarn.lock
!/lib/new-project-template/new-project/**
/lib/new-project-template/new-project/.DS_Store
/lib/new-project/**
/lib/projInfo.js
package-lock.json
release-builds