body {
  background:  #292A2B;
}

#board {
  width: 390px;
  height: 390px;
  // border: 5px solid $lightOrange;
  // background-color: $darkBlue;
  margin: 20px auto;
  padding: 0;
}

.square {
  box-sizing: border-box;
  float: left;
  // display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background-color: grey;
  border: 1px solid gainsboro;
  margin: 5px;
  font-size: 2em;
  font-weight: 550;
  line-height: 100px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: darken(white, 15);
  }

}
